body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-top: 45px; /* 向下移动 45px */
}

h1 {
  font-size: 45px;
  color: #00bff3; /* 设置颜色为 #00bff3 */
}

.qr-code-container {
  text-align: center;
  margin-bottom: 40px;
}

.qr-code {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.qr-code-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.copy-button {
  background-color: #0d0d0d; /* 设置背景颜色为 #0d0d0d */
  color: #fff; /* 设置文字颜色为白色 */
  padding: 15px 30px; /* 设置按钮的上下 padding 为 15px，左右 padding 为 30px */
  border: none;
  cursor: pointer;
  border-radius: 8px; /* 设置按钮四个角的弧度为 8px */
  font-size: 20px; /* 设置按钮中文本的大小为 20px */
  margin-top: 10px; /* 往下移动 10px */
}

.copy-button,
.copy-button span {
  color: #00bff3; /* 设置文字颜色为 #00bff3 */
}

.countdown-container {
  text-align: center;
}

#countdown {
  font-size: 48px;
  color: #de316c; /* 设置颜色为 #de316c */
  margin-top: 45px; /* 向下移动 45px */
}

#message {
  font-size: 24px;
  color: #333;
}