body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 90vw;
    max-width: 300px;
}

header {
    width: 100%;
    text-align: center; /* 文本居中显示 */
    padding: 10px; /* 上下左右的内边距 */
    background-color: #333; /* 背景颜色为深灰色 */
    color: #fff; /* 文本颜色为白色 */
    position: fixed; /* 固定在页面顶部 */
    top: 0; /* 位于页面的最顶部 */
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-item {
    padding: 10px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}

.nav-item:hover, .nav-item.selected {
    background-color: #454545; /* 亮灰色，表示选中或悬停 */
}

#chatArea {
    flex-grow: 1;
    padding: 60px 10px 60px; /* 预留出头部和底部导航栏的空间 */
    overflow-y: scroll;
    background-color: #f9f9f9;
}

#addContact {
    padding: 5px 10px; /* 设置内填充，使按钮更易点击 */
    border: none; /* 取消边框 */
    background-color: #333; /* 设置背景颜色为深灰色 */
    color: white; /* 设置文本颜色为白色 */
    cursor: pointer; /* 鼠标悬停时显示指针，表明这是一个可点击的元素 */
}

#searchBox {
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 20px); /* 确保父元素宽度适应 */
    margin: 0 10px; /* 确保左右有空间 */
}


.contact-item {
    padding: 10px; /* 设置每个联系人条目的内填充 */
    border-bottom: 1px solid #ddd; /* 在条目底部添加一条淡灰色的边框 */
}

.contact-item:last-child {
    border-bottom: none; /* 最后一个联系人条目不显示底部边框 */
}
